In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Store CSV 1 into Data Frame and Clean up the Data

In [2]:
csv_file_1 = "Resources/games_data.csv"
games_df = pd.read_csv(csv_file_1)
games_df.head()

,Unnamed: 0,game,score,leaderbord,gamers,comp_perc,rating,url,min_comp_time,max_comp_time
0,0,A Boy and His Blob,638,2.02,2194,16.5,3.2,https://www.truetrophies.com/game/A-Boy-and-Hi...,15,20
1,1,A Hat in Time,1992,1.53,7062,35.9,4.2,https://www.truetrophies.com/game/A-Hat-in-Tim...,15,20
2,2,A Hero and a Garden,1364,1.01,503,97.6,5.0,https://www.truetrophies.com/game/A-Hero-and-a...,0,1
3,3,A Hero and a Garden (EU),1363,1.01,581,97.8,2.9,https://www.truetrophies.com/game/A-Hero-and-a...,0,1
4,4,A King's Tale: Final Fantasy XV,637,2.02,21914,14.1,3.3,https://www.truetrophies.com/game/A-Kings-Tale...,4,5

In [3]:
cleaned_games_df = games_df[["game", "score", "gamers", "comp_perc", "rating", "min_comp_time", "max_comp_time"]]
cleaned_games_df

,game,score,gamers,comp_perc,rating,min_comp_time,max_comp_time
0,A Boy and His Blob,638,2194,16.5,3.2,15,20
1,A Hat in Time,1992,7062,35.9,4.2,15,20
2,A Hero and a Garden,1364,503,97.6,5.0,0,1
3,A Hero and a Garden (EU),1363,581,97.8,2.9,0,1
4,A King's Tale: Final Fantasy XV,637,21914,14.1,3.3,4,5
...,...,...,...,...,...,...,...
1579,36 Fragments of Midnight,1367,8472,82.3,2.5,0,1
1580,36 Fragments of Midnight (Asia),1335,2131,88.9,2.4,0,1
1581,36 Fragments of Midnight (EU),1382,12273,79.2,2.4,0,1
1582,428: Shibuya Scramble,1943,916,41.5,4.2,40,50
1583,428: Shibuya Scramble (EU),1917,718,42.6,4.2,40,50

In [4]:
renamed_games_df = cleaned_games_df.rename(columns={   
       "comp_perc": "completion_percentage",
       "min_comp_time": "minimum_completion_time",
       "max_comp_time": "maximum_completion_time"})
renamed_games_df

,Game,Score,Gamers,Completion_Percentage,Rating,Minimum_Completion_Time,Maximum_Completion_Time
0,A Boy and His Blob,638,2194,16.5,3.2,15,20
1,A Hat in Time,1992,7062,35.9,4.2,15,20
2,A Hero and a Garden,1364,503,97.6,5.0,0,1
3,A Hero and a Garden (EU),1363,581,97.8,2.9,0,1
4,A King's Tale: Final Fantasy XV,637,21914,14.1,3.3,4,5
...,...,...,...,...,...,...,...
1579,36 Fragments of Midnight,1367,8472,82.3,2.5,0,1
1580,36 Fragments of Midnight (Asia),1335,2131,88.9,2.4,0,1
1581,36 Fragments of Midnight (EU),1382,12273,79.2,2.4,0,1
1582,428: Shibuya Scramble,1943,916,41.5,4.2,40,50
1583,428: Shibuya Scramble (EU),1917,718,42.6,4.2,40,50

# Store CSV 2 into Data Frame and Clean up the Data

In [5]:
csv_file_2 = "Resources/PS4_GamesSales.csv"
sales_df = pd.read_csv(csv_file_2, header=0, encoding='unicode_escape')
sales_df.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [6]:
cleaned_sales_df = sales_df[["Game", "Year", "Genre", "Publisher", "North America", "Global"]]
renamed_sales_df = cleaned_sales_df.rename(columns={
    "Game": "game", "Year": "year", "Genre": "genre",
    "Publisher": "publisher", 
    "North America": "north_america", "Global": "global"})
renamed_sales_df

,Game,Year,Genre,Publisher,North_America,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,11.80
...,...,...,...,...,...,...
1029,Fallen Legion: Flames of Rebellion,NaN,Role-Playing,NaN,0.00,0.00
1030,Radial G Racing Revolved,2017.0,Racing,Tammeka Games,0.00,0.00
1031,The Mummy Demastered,NaN,Action,NaN,0.00,0.00
1032,Project Nimbus: Code Mirai,NaN,Action,NaN,0.00,0.00
1033,Battle Chef Brigade,NaN,Action,NaN,0.00,0.00

# Combine the data in Pandas to see if how many videogames appear in each data set

In [7]:
combined_df = pd.merge(renamed_sales_df, renamed_games_df, how="inner")
new_combined_df = combined_df.drop(index=188)
new_combined_df

,Game,Year,Genre,Publisher,North_America,Global,Score,Gamers,Completion_Percentage,Rating,Minimum_Completion_Time,Maximum_Completion_Time
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,19.39,5913,231535,0.4,4.5,200,700
1,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,13.40,7360,154762,0.6,3.6,35,40
2,FIFA 18,2017.0,Sports,EA Sports,1.27,11.80,3098,67123,6.1,3.6,40,50
3,FIFA 17,2016.0,Sports,Electronic Arts,1.26,10.94,3370,69911,4.3,3.7,50,60
4,Fallout 4,2015.0,Role-Playing,Bethesda Softworks,2.91,8.48,3311,170083,3.5,4.2,60,80
...,...,...,...,...,...,...,...,...,...,...,...,...
243,Days Gone,2019.0,Action-Adventure,Sony Interactive Entertainment,0.00,0.00,4788,121982,1.1,4.2,60,80
244,Metro Exodus,2019.0,Shooter,Deep Silver,0.00,0.00,3820,34285,2.5,3.9,20,25
245,Anthem,2019.0,Role-Playing,Electronic Arts,0.00,0.00,3133,46185,6.9,3.0,50,60
246,Chaos on Deponia,2017.0,Adventure,Daedalic Entertainment,0.00,0.00,1500,1074,77.6,3.3,3,4
247,The Mummy Demastered,NaN,Action,NaN,0.00,0.00,1944,1889,35.5,3.9,6,8

In [8]:
new_combined_df.to_csv("cleaned_combined_data.csv", index = False)

# Extract Original Tables from Cleaned Combined Data

In [9]:
new_games_df = new_combined_df[['game', 'score', 'gamers', 
                            'completion_percentage', 'rating', 'minimum_completion_time',
                            'maximum_completion_time']]
new_games_df

,Game,Score,Gamers,Completion_Percentage,Rating,Minimum_Completion_Time,Maximum_Completion_Time
0,Grand Theft Auto V,5913,231535,0.4,4.5,200,700
1,Call of Duty: WWII,7360,154762,0.6,3.6,35,40
2,FIFA 18,3098,67123,6.1,3.6,40,50
3,FIFA 17,3370,69911,4.3,3.7,50,60
4,Fallout 4,3311,170083,3.5,4.2,60,80
...,...,...,...,...,...,...,...
243,Days Gone,4788,121982,1.1,4.2,60,80
244,Metro Exodus,3820,34285,2.5,3.9,20,25
245,Anthem,3133,46185,6.9,3.0,50,60
246,Chaos on Deponia,1500,1074,77.6,3.3,3,4
247,The Mummy Demastered,1944,1889,35.5,3.9,6,8

In [10]:
new_games_df.to_csv("cleaned_games_data.csv", index = False)

In [11]:
new_sales_df = new_combined_df[["game", "year", "genre", "Publisher", "North_America", "Global"]]
new_sales_df

,Game,Year,Genre,Publisher,North_America,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,19.39
1,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,13.40
2,FIFA 18,2017.0,Sports,EA Sports,1.27,11.80
3,FIFA 17,2016.0,Sports,Electronic Arts,1.26,10.94
4,Fallout 4,2015.0,Role-Playing,Bethesda Softworks,2.91,8.48
...,...,...,...,...,...,...
243,Days Gone,2019.0,Action-Adventure,Sony Interactive Entertainment,0.00,0.00
244,Metro Exodus,2019.0,Shooter,Deep Silver,0.00,0.00
245,Anthem,2019.0,Role-Playing,Electronic Arts,0.00,0.00
246,Chaos on Deponia,2017.0,Adventure,Daedalic Entertainment,0.00,0.00
247,The Mummy Demastered,NaN,Action,NaN,0.00,0.00

In [12]:
new_sales_df.to_csv("cleaned_sales_data.csv", index = False)

# Connect to local database

In [13]:
rds_connection_string = "postgres:postgres@localhost:5432/videogames"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [14]:
engine.table_names()

['ps4games', 'sales_data']

In [17]:
new_games_df.to_sql(name='ps4games', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Game" of relation "ps4games" does not exist
LINE 1: INSERT INTO ps4games ("Game", "Score", "Gamers", "Completion...
                              ^

[SQL: INSERT INTO ps4games ("Game", "Score", "Gamers", "Completion_Percentage", "Rating", "Minimum_Completion_Time", "Maximum_Completion_Time") VALUES (%(Game)s, %(Score)s, %(Gamers)s, %(Completion_Percentage)s, %(Rating)s, %(Minimum_Completion_Time)s, %(Maximum_Completion_Time)s)]
[parameters: ({'Game': 'Grand Theft Auto V', 'Score': 5913, 'Gamers': 231535, 'Completion_Percentage': 0.4, 'Rating': 4.5, 'Minimum_Completion_Time': 200, 'Maximum_Completion_Time': 700}, {'Game': 'Call of Duty: WWII', 'Score': 7360, 'Gamers': 154762, 'Completion_Percentage': 0.6, 'Rating': 3.6, 'Minimum_Completion_Time': 35, 'Maximum_Completion_Time': 40}, {'Game': 'FIFA 18', 'Score': 3098, 'Gamers': 67123, 'Completion_Percentage': 6.1, 'Rating': 3.6, 'Minimum_Completion_Time': 40, 'Maximum_Completion_Time': 50}, {'Game': 'FIFA 17', 'Score': 3370, 'Gamers': 69911, 'Completion_Percentage': 4.3, 'Rating': 3.7, 'Minimum_Completion_Time': 50, 'Maximum_Completion_Time': 60}, {'Game': 'Fallout 4', 'Score': 3311, 'Gamers': 170083, 'Completion_Percentage': 3.5, 'Rating': 4.2, 'Minimum_Completion_Time': 60, 'Maximum_Completion_Time': 80}, {'Game': 'FIFA 16', 'Score': 3177, 'Gamers': 67700, 'Completion_Percentage': 5.1, 'Rating': 3.8, 'Minimum_Completion_Time': 35, 'Maximum_Completion_Time': 40}, {'Game': 'Call of Duty: Advanced Warfare', 'Score': 4896, 'Gamers': 109190, 'Completion_Percentage': 0.8, 'Rating': 3.6, 'Minimum_Completion_Time': 20, 'Maximum_Completion_Time': 25}, {'Game': 'Battlefield 1', 'Score': 4515, 'Gamers': 145216, 'Completion_Percentage': 2.0, 'Rating': 4.2, 'Minimum_Completion_Time': 35, 'Maximum_Completion_Time': 40}  ... displaying 10 of 247 total bound parameter sets ...  {'Game': 'Chaos on Deponia', 'Score': 1500, 'Gamers': 1074, 'Completion_Percentage': 77.6, 'Rating': 3.3, 'Minimum_Completion_Time': 3, 'Maximum_Completion_Time': 4}, {'Game': 'The Mummy Demastered', 'Score': 1944, 'Gamers': 1889, 'Completion_Percentage': 35.5, 'Rating': 3.9, 'Minimum_Completion_Time': 6, 'Maximum_Completion_Time': 8})]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
new_sales_df.to_sql(name='sales_data', con=engine, if_exists='append', index=False)